@import "@scss/mixins/media_mixin.scss";

.page-layout {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: url('./assets/background.jpg') center/cover no-repeat;

  @include _xs {
    background-color: #000;
    background-image: url('./assets/background-xs.jpg');
    background-position: bottom center;
    background-size: 100% auto;
  }
}