.button {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  cursor: pointer;
  position: relative;
  
  &:focus {
    outline: none;
  }

  &__loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
  }

  &.loading {
    pointer-events: none;
  }

  &.blue {
    background-color: rgba(72, 148, 212, 1);

    &[disabled] {
      background-color: rgb(119, 174, 219);
      pointer-events: none;
    }

    &.loading {
      color: rgb(119, 174, 219);
    }

    &:hover {
      background-color: rgba(72, 148, 212, .8);
    }
  }

  &.gray {
    background-color: rgba(153, 153, 153, 1);

    &[disabled] {
      background-color: rgb(204, 204, 204);
      pointer-events: none;
    }

    &.loading {
      color: rgb(153, 153, 153);
    }

    &:hover {
      background-color: rgba(153, 153, 153, .8);
    }
  }

  &.primary,
  &.small {
    color: #fff;
    padding: 9px 33px 10px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    transition: color .15s ease, background .15s ease;
  }

  &.small {
    padding: 9px 27px 10px;
  }

  &.borderless {
    color: #aaa;
    font-size: 13px;
    text-decoration: underline;
    border: none;
    background-color: transparent;

    &.loading {
      color: transparent;
    }

    &:hover {
      background-color: transparent;
      text-decoration: none;
    }
  }
}