@import "@scss/mixins/media_mixin.scss";

.field-password {
  width: 100%;
  position: relative;

  &__button {
    display: block;
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #aaa;
    font-size: 12px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: normal;
    padding: 0;
    cursor: pointer;
    transition: color .15s ease;

    @include _xs {
      height: 100%;
      top: 0;
      transform: none;
    }

    &:hover {
      color: #ccc;
    }

    &:focus {
      outline: none;
    }
  }

  &__input {
    padding-right: 54px;

    @include _xs {
      padding-right: 50px;
    }
  }
}