@import "@scss/mixins/media_mixin.scss";

.labelled-field {
  &__label {
    display: inline-block;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 10px;

    .labelled-field.light & {
      color: #777;
    }

    .labelled-field.dark & {
      color: #aaa;
    }

    @include _xs {
      font-size: 13px;
      margin-bottom: 7px;
    }
  }
}