@import "@scss/mixins/media_mixin.scss";

.sign-in {
  color: #fff;
  width: 100%;
  max-width: 700px;
  background-color: rgba(0, 0, 0, .6);
  min-height: 100vh;
  overflow: auto;
  padding-top: 150px;
  box-sizing: border-box;

  @include _xs {
    padding: 49px 20px 0;
    background-color: transparent;
  }

  &__wrapper {
    width: 400px;
    margin: 0 auto;

    @include _xs {
      width: 100%;
    }
  }

  &__heading {
    padding-bottom: 24px;
    border-bottom: 3px solid #333;

    @include _xs {
      padding-bottom: 27px;
    }

    h1 {
      font-size: 40px;
      margin: 0px 0px 9px;

      @include _xs {
        font-size: 26px;
        margin: 0px 0px 3px;
      }
    }

    &-hint {
      color: #aaa;
      font-size: 26px;

      @include _xs {
        font-size: 20px;
      }
    }
  }

  &__logo {
    width: 237px;
    height: 52px;
    margin-top: 31px;

    @include _xs {
      width: 200px;
      height: 44px;
      margin-top: 29px;
    }
  }

  &__footer {
    margin-top: 31px;
    padding-top: 27px;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #333;

    @include _xs {
      display: none;
    }
  }
}