@import "@scss/mixins/media_mixin.scss";

.modal {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .5);
  width: 400px;
  margin: 0 auto;
  margin-top: 150px;
  border: none;
  border-radius: 3px;
  overflow: hidden;
  outline: none;

  @include _xs {
    width: 337px;
    margin-top: 20px;
  }

  &__heading {
    padding: 14px 50px 16px 21px;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    min-height: 50px;
    box-sizing: border-box;
  }

  &__title {
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
  }

  &__close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 16px;
    right: 20px;
    border-radius: 100%;
    border: none;
    background-color: #555;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background .15s ease;
    outline: none;

    &:hover {
      background-color: #666;
    }

    svg {
      width: 10px;
      height: 10px;
      fill: #333;
    }
  }

  &__content {
    background: #fff;
    padding: 13px 24px 26px 19px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
  }

  &__footer {
    padding: 20px 24px 19px 19px;
    box-shadow: 0 -3px 10px -4px rgba(0, 0, 0, .4);
    background-color: #fff;

    button {
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    max-width: 700px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close{
  opacity: 0;
  transform: translateY(-20px);
}