@import "@scss/mixins/media_mixin.scss";

.field {
  width: 100%;
  height: 44px;
  border-radius: 3px;
  padding: 0 9px;
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: normal;
  box-sizing: border-box;

  @include _xs {
    height: 36px;
  }

  &.light {
    color: #555;
    background-color: #f7f7f7;
    border: solid 1px #ccc;

    &:focus {
      background-color: #f0f0f0;
      border: solid 1px #999;
    }
  }

  &.dark {
    color: #fff;
    background-color: #555;
    border: solid 1px #151515;

    &:focus {
      background-color: #6a6a6a;
      border: solid 1px #888;
    }
  }

  &.error {
    border: solid 1px #b32f2f;
  }

  &:focus {
    outline: none;
  }

  &__wrapper {
    position: relative;
  }

  &__error {
    font-size: 12px;
    line-height: 1;
    color: #b32f2f;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
  }
}