.post-item {
  font-family: 'Helvetica Neue', sans-serif;
  width: 170px;

  &__title,
  &__date,
  &__text {
    margin: 0;
  }
  
  &__title {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__date,
  &__text {
    font-size: 13px;
    color: #aaa;
    line-height: 1.38;
  }

  &__date {
    margin-top: 13px;
  }

  &__text {
    margin-top: 4px;
  }
}