@import "@scss/mixins/media_mixin.scss";

.sign-in-form {
  margin-top: 20px;

  @include _xs {
    margin-top: 25px;
  }

  &__field {
    margin-top: 24px;

    @include _xs {
      margin-top: 24px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    align-items: center;

    @include _xs {
      margin-top: 21px;
    }
  }
}