@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Roman'), local('Helvetica-Neue-Roman'),
      url('../assets/fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
      url('../assets/fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
      url('../assets/fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Bold'), local('Helvetica-Neue-Bold'),
      url('../assets/fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
      url('../assets/fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
      url('../assets/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
